@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Raleway:ital,wght@0,100..900;1,100..900&family=VT323&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background_animations {
    @apply transition-all duration-500 ease-in-out;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(23, 25, 31, 1);
}

html {
  scroll-behavior: smooth;
}

:root {
  background: rgba(23, 25, 31, 1);
  --background: 23, 25, 31, 1;
  --foreground: 28, 31, 43, 1;
  --border: 62, 59, 69, 1;
  --copy: 251, 251, 251, 1;
  --copylight: 216, 214, 220, 1;
  --copylighter: 164, 159, 172, 1;
  --primary: 87, 111, 201, 1;
  --primarylight: 113, 144, 255, 1;
  --primarydark: 54, 69, 127, 1;
  --primarycontent: 255, 255, 255, 1;
  --custompink: 185, 50, 79, 1;
  --themebtnbg: 0, 0, 0, 0.3;
}
